.addTask
    form(action="../tasks.pug", method="post")
    input(type="text", name="name", placeholder="Inserer le nom")
    input(type="text", name="description", placeholder="Description")
    button(type="submit") Ajouter