extends layout
block content
  h4 Editer une tâche
  form(action=`/tasks/${task.id}`, method="post")
    input(type="text", name="name", value=`${task.name}` placeholder=`${task.name}`)
    input(type="text", name="description", value=`${task.description}` placeholder=`${task.description}`)
    button(type="submit") Editer
    a(href="/tasks") Retour