<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet" href="/css/style.css")
        title Epic To Do List
    body
        block content