extends layout
block content
    h1= message
    if tasks
        each task in tasks
            .listTask
                .divTask
                    .nameTask.h5= task.name
                    .descriptionTask.p= task.description
                    .buttonTask
                        a.btn(href=`/tasks/${task.id}/edit`) Edit
                        a.btn(href=`/tasks/${task.id}/delete`) Delete
    else 
    p.noTask Aucune tâche
    include includes/_form.pug